@import '../../library/styles/variables.scss';
@import '../../library/styles/mixins.scss';
.dashboard {
    color: $green;
    width: 100%;
    margin-top: 20px;
    background: url('../../assets/images/Website-Background.png') repeat;
    background-color: rgb(243, 243, 243);
    & .btn-col {
        margin-bottom: 20px;
        text-align: center;
        background: rgba(226, 226, 226, 0.78);
        @include border-radius(10px,0);
        @include box-shadow(0.6);
        min-height: 400px;
        padding: 20px;
        width: 100%;
        word-wrap: break-word;
    }
}